@import '../../Sass/colors';


.seatContainer{
	width: 6%;
	height: 50px;
	text-align: center;
	line-height: 30px;

	&.first{
		width: 8%;
	}

	h4{
		padding: 0;
		margin: 0;
	}

	&.aisle{
		border: none;
		background-color: #999;
		width: 8%;
		padding-left: 2px;
		padding-right: 2px;
		border-left: 1px dashed rgba(255,10,10, 0.3);
		border-right: 1px dashed rgba(255,10,10, 0.3);
	}

	.seatLetter{
		border-radius: 2px;
		font-weight: 100;
		height: 30px;
		width: 30px;
		background-color: $color-available;

		&.aisle{
			display: none;
		}

		&:hover{
			cursor: pointer;
			color: blue;
			font-weight: 500;
		}

		&.premium{
			border: 2px solid $color-premium;
		}

		&.selected{
			background-color: $color-selected;
		}

		&.occupied{
			background-color: $color-occupied;

			&:hover{
				font-weight: 100;
				cursor: default;
				color: black;
			}
		}

		&.firstClass{
			border: 2px solid $first-class;
		}

		&.businessClass{

		}
	}
}