.rowContainer{
	height: 40px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	padding-left: 1%;
	padding-right: 1%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;

	.rowNumber{
		margin: 0;
		width: 12px;
		padding-left: 4px;
		padding-right: 8px;
	}
}